<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
</head>
<body>
<a href="/videoshufic/" class="btn btn-info" role="button"> ALL VIDEO </a>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<div class="container">
    {% block onevideo %} {% endblock %}
    {% block videop %} {% endblock %}
    {% block login %} {% endblock %}
</div>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
   {% if username %}
    <li class="nav-item"><a href="/auth/logout/">Выйти ({{ username }})</a></li>
   {% else %}
    <li class="nav-item"><a href="/auth/login/">Войти</a></li>
   {% endif %}
  </ul>
</nav>


</body>
</html>